* {
  padding: 0px;
  margin: 0px;
  font-family: jannaR;
}
#Body {
  height: 100%;
  width: 100%;
}
.input {
  width: 100%;
  height: 30px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.16);
  margin-top: 25px;
  padding: 10px 25px;
  outline: none;
}

.input:focus {
  box-shadow: 0 0px 15px #36a64f;
}
@font-face {
  font-family: jannaR;
  src: url(../fonts/JannaR.TTF);
}
@font-face {
  font-family: jannaB;
  src: url(../fonts/JannaB.TTF);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
